


.CardConteiner{

    background-color: #6e6d6d;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 20%;
    height:300px;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-shadow: 20px 18px 9px -15px rgba(163,161,163,1);
    -moz-box-shadow: 20px 18px 9px -15px rgba(163,161,163,1);
    box-shadow: 20px 18px 9px -15px rgba(163,161,163,1);
}

.ImgConteiner{
    background-color: aliceblue;
    border-radius: 50px;
    margin: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}


p{
    margin: 0px;
    font-size: 12px;
}

.infoConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 10px;
    font-size: 15px;
    padding: 20px;  
}

#descricao{
    font-weight: 500;
}

.imgPerson{
    width: 80px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainConteinerInfo{
    background-color: #eff8ff;
    border-radius: 15px;
    margin: 20px;
    width: 100%;
    height: auto;
}

label{
    font-weight: bolder;
    font-size: 12px;
}


.conteinerShowCards{
    display: flex;
    width:60%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.divButtonClose{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.buttonGeneric:hover{
    background-color: white;
    transition: all 1000ms;
    border: #212121 solid 2px;
    color: #212121;
}