
.conteinerMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

#logoIf{
  width: 120px;
}

body
{
  background-color: rgb(255, 255, 255);
  display: flex;
  height: auto;
  width: 100%; 
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.headerConteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212121;
  height: auto;
  width:95%;
}


a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: gray;
}


.conteinerLinks
{
  display: flex;
  gap: 50px;
  font-size: 15px;
}


.conteinerCards
{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteinerDescricao{
  color: #212121;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  color:#212121; 
}

input{
  border-radius: 15px;
  background-color: rgb(202, 202, 202);
  color: #212121;
  font-size: 20px;
  padding: 10px;
}


.links{
  color: #212121;
  font-weight: 800;
}

.conteinerEstudantes
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  width: 100%;
  height:auto;
  font-size: 20px;
  padding: 10px;
}